<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>AWS Demo</title>
	<style>
		body {
			background-color: {{ background_color }};
		}
	</style>
</head>
<body>
	<section>
		<article>
			<header>
				<h2>Article by Nikki</h2>
				<p>Posted on <time datetime="2019-03-12T16:31:24+02:00">Marsh 12th 2019</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article>
		<article>
			<header>
				<h2>Article by Mick</h2>
				<p>Posted on <time datetime="2019-03-12T16:31:24+02:00">Marsh 12th 2019</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article>
		<article>
			<header>
				<h2>Article by Tommy</h2>
				<p>Posted on <time datetime="2019-03-12T16:31:24+02:00">Marsh 12th 2019</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article>
		<article>
			<header>
				<h2>Article by Vince</h2>
				<p>Posted on <time datetime="2019-03-12T16:31:24+02:00">Marsh 12th 2019</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article>
	</section>

	<aside>
		<h2>About section</h2>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</aside>

	<footer>
		<p>Copyright 2019 Generation Swine</p>
	</footer>
</body>
</html>